name: Build iOS IPA

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install CocoaPods
        run: pod install

      - name: Select Xcode
        run: sudo xcode-select -s /Applications/Xcode.app

      - name: Build archive
        run: |
          xcodebuild \
            -workspace "Nostalgic Music Player.xcworkspace" \
            -scheme "Nostalgic Music Player" \
            -sdk iphoneos \
            -configuration Release \
            -archivePath build/App.xcarchive \
            archive \
            CODE_SIGNING_ALLOWED=NO
            SWIFT_VERSION=5.0
            OTHER_SWIFT_FLAGS="-Xfrontend -disable-availability-checking"

      - name: Upload IPA
        uses: actions/upload-artifact@v4
        with:
          name: NostalgicMusicPlayer-IPA
          path: build/**/*.ipa
